<!DOCTYPE html>
<html lang="en" data-theme="dark" class="theme-dark">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Captcha 2</title>
	<link rel="icon" href="/static/favicon.ico" />
	<link rel="stylesheet" href="/static/css/global.css">
</head>

<body>
	<div class="container">
		<h1 class="title">{{flag}}</h1>
		<br>
		<div class="tenor-gif-embed" data-postid="19884448" data-share-method="host" data-aspect-ratio="1"
			data-width="100%">
			<a href="https://tenor.com/view/closeup-pardon-meme-gif-19884448">Closeup Pardon GIF</a>from
			<a href="https://tenor.com/search/closeup-gifs">Closeup GIFs</a>
		</div>
		<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
	</div>
</body>

</html>