<p><strong>texas_xti</strong> est le digne représentant de la liberté moderne !</p>
<p>Je suis un aigle parmi les marmottes, celles qui ecoutent le président, le système, et se laissent <strong>corrompre</strong> !</p>
<p>Je partage ici mes articles vous apprenant comment vous libérer du système, ne pas vous laisser corrompre. Possédez la force, le courage</p>
<p>Vous etes libre de faire comme bon vous semble. Je vous offre la <strong>force</strong> nécessaire !</p>
<p>Texas représente l <strong>amérique</strong>! La libérter, l'indépendance, la force !!</p>
<p>Il faut démocratiser la démocratie, laissez moi faire ce que je vex dans mon pays ! ?</p>
<p>Chacun doit posséder ses armes:</p>
<ul>
    <li>Courage</li>
    <li>Envol</li>
    <li>autonomie</li>
    <li>Glock 17</li>
</ul>
